body{
    background-color:#1d002ce5; 
    font-family: serif;  
}
header{
    color:#D6B9FC;
    font-weight: bold;
    border-style:solid;
    border-width:2px;
}
h2{
    color:#D6B9FC;
    font-weight: bold;
    border-style:solid;
    border-width:2px;
}
h3{
    color:#D6B9FC;
    font-weight: bold; 
}
h4{
    color:#D6B9FC;
    font-weight: bold;
}
p{
    color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    color:bisque;
}
form{
    color:bisque;
}
nav{
   color:bisque; 
}
