/*this is the general styling for the website*/
body{
    font-family:sans-serif;
    background-color:burlywood;
    color:brown;
}
h2, h3, h4{
    color:darkred;
}
ul{
  list-style-type: none;
    padding: 0;
    margin: 0;
    overflow:hidden;  
}
/*this is the nav bar*/
nav{
    margin:0;
}
nav ul{
    background-color: black;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
nav li{
    float: left;
}
/*div for brand logos*/
.brands{
 text-align: center;
}
/*this is for contact us*/
.info ul li{
    list-style-type:none;
    text-decoration:none;
}